
.slide-right {
  // transform-origin: 50% 99%;
  animation: slideRight .3s infinite;
}

/* Standard syntax */
@keyframes slideRight {
    0%   {margin-left: 0px;}
    100% {margin-left: 100%;}
}

.slide-left {
  transform-origin: 50% 99%;
  animation: slideLeft .3s infinite;
}

/* Standard syntax */
@keyframes slideLeft {
    0%   {margin-right: 0px;}
    100% {margin-right: 100%;}
}
