.feed-container {
  display: flex;
  flex-wrap: wrap;

  .feed {
    max-width: 50%;
    flex-grow: 1;
    margin: 0;

    img {
      width: 100%; 
    }
  }
}

.grid {
  .feed {
    max-width: 25%;
  }
}

.settings-bar {
  background-color: $blue;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .settings-btn {
    color: $light;
    min-height: 5vh;
    border: 1px $light solid;
    margin: 3px;
    text-align: center;

    width: 10%;
  }
}
