.login {
  display: flex;
  flex-direction: column;
  width: 100%;

  .btn {
    margin-top: 5vh;
    padding: 8px 15px;
  }

  .link-logo {
    max-width: 10vw;

    img{
      width: 100%;
    }
  }


  .logo {
    width: 80vw;
    // height: 30vh;
    align-self: center;

    h1 {
      font-family: $sans;
      font-size: 2.5em;
      color: $dark;
      font-style: italic;
      font-weight: 700;
      background-color: $gold;
      display: inline-block;
    }

    img {
      width: 100%;
    }
  }

  label, button, input {
    font-family: $sans;
    font-size: 1.2em;
  }

  input {
    margin-top: 5px;
    border: none;
    border-radius: 5px;
  }

  form {
    margin: 5vh 10vh;
    display: flex;
    flex-direction: column;
  }

  .auth, .sign-ins {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10vh;

    .link-logo {
      max-width: 10vw;
    }
  }



}
