.settings-bar {
  background-color: $blue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;

  .settings-btn {
    color: $light;
    min-height: 5vh;
    border: 1px $light solid;
    margin: 3px;
    text-align: center;
    width: 10%;
  }
}
